@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Contact): @Html.DisplayFor(model => model.Contact)</h3>

<p class="btn btn-color" href="#" role="button">@Html.ActionLink("Edit Client Info", "Edit", new { id = Model.ClientId
  })</p>
<p class="btn btn-color" href="#" role="button">@Html.ActionLink("Delete Client Info", "Delete", new { id =
  Model.ClientId})</p>
<p class="btn btn-color" href="#" role="button">@Html.ActionLink("Back to Client List", "Index")</p>
